@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Gothic+Coding&family=Noto+Sans+KR&family=Poor+Story&family=Rubik+Doodle+Shadow&display=swap');
/* Global Styles */
body {
    font-family: 'Noto Sans KR', monospace;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 5%;
    padding: 0;
    line-height: 1.6;
}

.big-title {
    font-family: "Rubik Doodle Shadow", monospace;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}



#sidebarToggle {
    background-color: #c5daf3; /* Green background */
    border: none; /* Remove borders */
    color: rgb(113, 113, 113); /* White text */
    padding: 10px 24px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from text */
    display: inline-block; /* Keep it inline */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    transition-duration: 0.4s; /* Animation time */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
}

#sidebarToggle:hover {
    background-color: #4976b0; /* Darker green on hover */
    color:white;
}

@media (min-width: 992px) {
    #sidebarToggle {
        display: none; /* Hide button on larger screens */
    }
}



@media (min-width: 992px) {
    .navbar-header {
        display: flex;
        align-items: center;
    }
    #navbarNav.collapse {
        display: flex !important;
    }
    #navbarNav {
        display: none;
    }
}

@media (max-width: 991px) {
    .navbar-header {
        display: block;
    }
    #navbarNav.collapse {
        display: none !important;
    }
}

/* Initial CSS for your menu container */
.menu-container {
    position: absolute;
    top: 50px; /* Adjust as per your button's position */
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
    flex-direction: column;
  }
  
  /* CSS for expanded menu for narrow screens */
  .menu-container.expanded {
    display: flex;
  }
  
  /* CSS for expanded menu for wide screens */
  @media screen and (min-width: 768px) {
    .menu-container.expanded {
      flex-direction: row;
      width: 100%; /* or any fixed width if you prefer */
      display: flex;
    }
  }
  

/* aiednet logo */
.aiednet-logo {
    width:20px;
    bottom:0;
}
/* 페이지설명글 */

.custom-padding {
    padding: 30px; /* or any value you prefer */
    margin:10px;
    margin-bottom:50px;
}


/* header */
.custom-toggler {
    border-color: #007bff; /* Blue border */
    background-color: transparent;
}

.custom-toggler:hover {
    background-color: #007bff; /* Blue background on hover */
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23007bff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* github icon */
.github-icon {
    margin-left: 10px;
    color: black; /* 원하는 색상으로 변경 가능 */
}

.github-icon:hover {
    color: rgb(207, 167, 37); /* 호버 시 색상 변경 */
}


/* nav */
.navbar {
    background-color: #96caff; /* 예시로 연한 회색을 사용, 원하는 색으로 변경 가능 */
    font-family: 'Gothic A1', sans-serif;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    
}

.nav-link {
    color: #555; /* 링크 색상 변경 */
    font-weight: bold; /* 폰트 두께 변경 */
}

.nav-link:hover {
    color: #ffffff; /* 호버 시 색상 변경 */
    background-color: rgb(75, 162, 255); /* 호버 시 배경색 변경 */
    border-radius: 5px; /* Rounded corners */
    text-shadow: 1px 1ㄴpx 2px rgba(0, 0, 0, 0.5); /* Slight text shadow for depth */
    transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease; /* Smooth transition for color and shadow changes */
}


/* 활성 링크 스타일 (클래스를 추가하거나 다른 방식으로 구현 필요) */
.nav-link.active {
    color: #fff;
    background-color: #007bff;
}

/* 부트스트랩의 컨테이너 상단과 하단 마진을 제거합니다 */
.container, .container-fluid {
    margin-top: 0 !important; /* 'important'는 부트스트랩의 기본 스타일을 오버라이드하기 위해 사용됩니다 */
    margin-bottom: 0 !important;
}
  
/* 추가된 CSS 스타일 */
.answer-input {
    height: 100px; /* 증가된 높이 */
    margin-top: 10px; /* 문제 아래에 위치하도록 여백 추가 */
}
 
.form-control {
    height:80px;
}

/* q learning */
/* body {
    font-family: 'Inter', sans-serif;
} */
.red-text {
    color: red;
}
.box {
    transition: background-color 0.3s, border-color 0.3s;
}
.box.goal {
    background-color: gold;
}
.highlight {
    border-color: yellow;
    animation: highlight 1s ease-in-out;
}
@keyframes highlight {
    0% { background-color: transparent; }
    50% { background-color: yellow; }
    100% { background-color: transparent; }
}

.apiKey {
    width: 80%;
    height: 40px;
    padding: 13px; /* 패딩 */
    border: 2px solid rgb(250, 212, 22); /* 테두리 */
    border-radius: 5px; /* 테두리 둥글게 */
    font-size: 16px; /* 글자 크기 */
    color: #333; /* 글자 색상 */
    background-color: #fff3a6; /* 배경 색상 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    margin-bottom: 20px; /* 아래쪽 여백 */
}

.apiKey:focus {
    border-color: #3C8DBC; /* 포커스 시 테두리 색상 */
    box-shadow: 0 0 15px rgba(60, 141, 188, 0.5); /* 포커스 시 그림자 효과 */
    outline: none; /* 기본 포커스 테두리 제거 */
}


.prompt {
    padding:10px;
    color: red;
}

