@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Gothic+Coding&family=Poor+Story&display=swap');

/* Global Styles */
body {
    font-family: 'Gothic A1', monospace;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 80px;
    padding: 0;
    line-height: 1.6;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* github icon */
.github-icon {
    margin-left: 10px;
    color: black; /* 원하는 색상으로 변경 가능 */
}

.github-icon:hover {
    color: rgb(207, 167, 37); /* 호버 시 색상 변경 */
}


/* nav */
.navbar {
    background-color: #96caff; /* 예시로 연한 회색을 사용, 원하는 색으로 변경 가능 */
    /* font-family: 'Arial', sans-serif; 폰트 스타일 변경 */
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    
}

.nav-link {
    color: #555; /* 링크 색상 변경 */
    font-weight: bold; /* 폰트 두께 변경 */
}

.nav-link:hover {
    color: #ffffff; /* 호버 시 색상 변경 */
    background-color: rgb(75, 162, 255); /* 호버 시 배경색 변경 */
    border-radius: 5px; /* Rounded corners */
    text-shadow: 1px 1ㄴpx 2px rgba(0, 0, 0, 0.5); /* Slight text shadow for depth */
    transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease; /* Smooth transition for color and shadow changes */
}


/* 활성 링크 스타일 (클래스를 추가하거나 다른 방식으로 구현 필요) */
.nav-link.active {
    color: #fff;
    background-color: #007bff;
}

/* 부트스트랩의 컨테이너 상단과 하단 마진을 제거합니다 */
.container, .container-fluid {
    margin-top: 0 !important; /* 'important'는 부트스트랩의 기본 스타일을 오버라이드하기 위해 사용됩니다 */
    margin-bottom: 0 !important;
}
  
/* 추가된 CSS 스타일 */
.answer-input {
    height: 50px; /* 증가된 높이 */
    margin-top: 10px; /* 문제 아래에 위치하도록 여백 추가 */
}

/* q learning */
body {
    font-family: 'Inter', sans-serif;
}
.red-text {
    color: red;
}
.box {
    transition: background-color 0.3s, border-color 0.3s;
}
.box.goal {
    background-color: gold;
}
.highlight {
    border-color: yellow;
    animation: highlight 1s ease-in-out;
}
@keyframes highlight {
    0% { background-color: transparent; }
    50% { background-color: yellow; }
    100% { background-color: transparent; }
}

.apiKey {
    width: 80%;
    padding: 13px; /* 패딩 */
    border: 2px solid rgb(250, 212, 22); /* 테두리 */
    border-radius: 5px; /* 테두리 둥글게 */
    font-size: 16px; /* 글자 크기 */
    color: #333; /* 글자 색상 */
    background-color: #fff3a6; /* 배경 색상 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    margin-bottom: 20px; /* 아래쪽 여백 */
}

.apiKey:focus {
    border-color: #3C8DBC; /* 포커스 시 테두리 색상 */
    box-shadow: 0 0 15px rgba(60, 141, 188, 0.5); /* 포커스 시 그림자 효과 */
    outline: none; /* 기본 포커스 테두리 제거 */
}


.prompt {
    padding:10px;
    color: red;
}